html {
    height: 100%;
}
footer {
    margin-top: auto;
    padding: 40px 0 40px 0;
    background-color: #4D5751;
    color: whitesmoke;
    font-size: 30px;
    div {
        background-color: #4D5751;
    }
}



