footer {
    background-color: #4D5751;
    margin-bottom: 0;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    div {
        color: white;
        padding-left: 10px;
        padding-top: 10px;
    }
}



