a {
    text-decoration: none;
    color: white;
}

header { 
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: #6D8BA6;
    align-items: center;
    padding: 10px;
    nav { 
        display: block;
        justify-content: center;
        background-color: #6D8BA6;
        margin: 10px;
        a {
            font-weight: 600;
            padding-right: 10px;
            &:hover{ 
                color: black;
            }
        }
    
    }

}

.logo img {
    height: 50px;
    margin-right: 10px;
}

