a {
    text-decoration: none;
    color: black;
}

header { 
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: #fffffe;
    align-items: center;
    padding: 10px;
    nav { 
        display: block;
        justify-content: center;
        background-color: #fffffe;
        margin: 10px;
        a {
            padding-right: 10px;
            &:hover{ 
                color: #a7a9be;
            }
        }
    
    }

}

.logo img {
    height: 50px;
    margin-right: 10px;
    border-radius: 70%;
}

