body {
    position: relative;
    padding-bottom: 40px;
    min-height: 80vh;
    background-color: #A0C3D9;
}

.fotos {
    margin-left: 0;   
    height: 10%;
    width: 15%;
    margin-right: 10px;
    min-height: 6%;
}

main { 
    h1 {
        color: white;
    }
    .container {
        color: white;
    }
    padding: 2% 0 2% 0;
    text-align: center;
    background-color: black;
    .col{
        text-align: center;
        .row {
            display: flex;
            text-align: center;
            margin: 5%;
            background-color: black;
            box-sizing: border-box;

        }
    }
    .container-fluid {
        margin: 3% 0 3% 0;
        border: white 5px solid;
        color: white;
        border-radius: 5%;
        padding: 2%;
        background-color: #6610f2;
        .col{
            .row{
                text-align: justify;
                background-color: #6610f2;
                justify-content: space-around;
                img {
                    text-align: center;
                    max-width: 800px;
                }
            }
        }
    }
}
.info {
    color: white;
    text-align: center;
    h1{
        font-size: 50px;
        padding: 3%;
    }
    h2{
        padding: 3%;
        margin: 3%;
        line-height: 50px;
    }
    
}

main .left-side img{
    height: 100vh;
    width: 50vmax;
    margin-right: 10px;
    min-height: 500px;
}

.imagenes {
    margin-left: 0;   
    height: 100%;
    width: 100%;
    margin-right: 10px;
    min-height: 60%;
}




