body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    background-color: #fffffe;
}

.bgb {
    background-color: #0f0e17;
    main {
        background-color: #0f0e17;
    }
}


.fotos {
    margin-left: 0;   
    height: 10%;
    width: 15%;
    margin-right: 10px;
    min-height: 6%;
}

main { 
    padding: 2% 5% 2% 5%;
    text-align: center;
    background-color: #fffffe;
    h1 {
        color: #0f0e17;
        font-family: 'Chela One', cursive;
        font-style: oblique;
    }
    .container {
        color: #a7a9be;
        background-color: #0f0e17;
        .row {
            .col {
                form {
                    label {
                        background-color: #0f0e17;
                        color: #a7a9be;
                    }
                    input {
                        border: none;
                    }
                }
            }
        }
    }

    .col{
        text-align: center;
        .row {
            display: flex;
            text-align: center;
            margin: 2% 5% 0 5%;
            background-color: black;
            box-sizing: border-box;
        }
    }
    .container-fluid {
        justify-content: center;
        margin: 3% 1% 3% 1%;
        border: #000000 8px solid;
        color: #a7a9be;
        border-radius: 5%;
        background-color: #0f0e17;
        .col{
            .row{
                text-align: justify;
                background-color: #0f0e17;
                justify-content: space-around;
                a {
                    :hover {
                        color: white;
                    }
                    h5 {
                        color: #a7a9be;
                    }
                }
                .red {
                    max-width: 200px;
                }
                .rec {
                    border-radius: 10%;
                    max-width: 60vw;
                    max-height: 20%;
                }
                img {
                    margin-bottom: 20px;
                    text-align: center;
                    max-width: 800px;
                    border-radius: 50%;
                }
            }
        }
    }
}
.info {
    color: white;
    text-align: center;
    h1{
        font-size: 50px;
        padding: 3%;
    }
    h2{
        padding: 3%;
        margin: 3%;
        line-height: 50px;
    }
}
.imagenes {
    margin-left: 0;   
    height: 100%;
    width: 100%;
    margin-right: 10px;
    min-height: 60%;
}




