body {
    position: relative;
    padding-bottom: 40px;
    min-height: 80vh;
    background-color: #A0C3D9;
}

.fotos {
    margin-left: 0;   
    height: 10%;
    width: 15%;
    margin-right: 10px;
    min-height: 6%;
}

main { 
    display: flex;
    margin-left: 0;
    padding: 0;
}

.info {
    color: white;
    text-align: center;
    h1{
        font-size: 50px;
        padding: 3%;
    }
    h2{
        padding: 3%;
        margin: 3%;
        line-height: 50px;
    }
    
}

main .left-side img{
    height: 100vh;
    width: 50vmax;
    margin-right: 10px;
    min-height: 500px;
}

.imagenes {
    margin-left: 0;   
    height: 100%;
    width: 100%;
    margin-right: 10px;
    min-height: 60%;
}

.bloque {
    display: flex;
    justify-content: center;
    background-color: #7376BD;
    padding: 2%;
    margin: 2% 2%;
    h1 {
        text-align: center;
        margin: 0 0 1%;
    }
    h2 { 
        text-align: justify;
        margin: 0 2%;
    }
    img {
        padding-right: 20px;
        max-height: 200px;
    }
}



